@function trim($number) {
    @if type-of($number)=='number' and not unitless($number) {
        @return $number / ($number * 0+1);
    }
    @return $number;
}

@function replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @return if($index,
            str-slice($string, 1, $index - 1) + $replace + replace(str-slice($string, $index + str-length($search)), $search, $replace),
            $string);
}

@mixin convex-rectangle ($width, $height, $color, $opacity: none) {
    $width: trim($width);
    $height: trim($height);
    $color: replace(''+$color+'', '#', '%23');
    $halfWidth: $width / 2;
    $halfHeight: $height / 2;
    $rect:"data:image/svg+xml;charset=US-ASCII,%3Csvg version='1.1' id='rectangle' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='#{$halfWidth + 'px'}' y='#{$halfHeight + 'px'}' width='"+$width+"' height='"+$height+"' viewBox='0 0 "+$width+" "+$height+"' enable-background='new 0 0 "+$width+" "+$height+"' xml:space='preserve'%3E%3Cpath fill='"+$color+"' stroke='none' d='M 0,"+$halfHeight+" C 0,0 0,0 "+$halfWidth+",0 S "+$width+",0 "+$width+","+$halfHeight+" "+$width+","+$height+" "+$halfWidth+","+$height+" 0,"+$height+" 0,"+$halfHeight+"'%3E%3C/path%3E%3C/svg%3E";
    background: url($rect) left top no-repeat;
    background-size: #{$width + 'rem'} #{$height + 'rem'};
    width: #{$width + 'rem'};
    height: #{$height + 'rem'};
    opacity: $opacity;
}
