@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import "mixins/mixins";
@import "node_modules/sierra-library/src/sierra.scss";
@import "components/loader";
@import "components/popup";

html, body {
    height: 100%;
    &.fixed {
        overflow-y: hidden;
        #root {
            &:after {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                z-index: 10;
                opacity: 1;
                background-color: rgba(246, 246, 247, 0.9);
            }
        }
    }
}
#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-responsible {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 800px;
    .table {
        margin-bottom: 0;
        th {
            min-width: 100px;
        }
    }

}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.textarea, .input, .select {
    margin-bottom: 0;
    display: block;
    margin-top: 0.5rem;
}
.input input {
    height: 34px;
    line-height: 34px;
}

.link {
    color: $brand-primary;
    cursor: pointer;
}

.section--lg {
    padding-top: 150px;
    padding-bottom: 150px;
}
